body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    text-align: center;
    font-size: 25px;
    background: linear-gradient(rgb(50, 99, 179), rgb(153, 172, 194));
    padding: 20px;
}

@media (max-width: 700px) {
    .header {
        font-size: 15px;
    }
}

.picture{
    text-align: center;
    margin-top: 15px;
}

.figcaptionShow {
    color: rgb(148, 133, 133);
    font-weight: 300;
}

.img-responsive {
    width: 70%;
    height: auto;
}

.container {
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
}

.container section {
    margin: 0 auto;
}

/* Footer */
.footer {
    background: linear-gradient(rgb(50, 99, 179), rgb(153, 172, 194));
    padding: 10px;
    color: whitesmoke;
    text-align: center;
}

@media (max-width: 700px){
    .footer {
        font-size: small;
    }
}